## Making a mega-table from the results tables

This notebook compiles the fitting results from all clusters into a single large table (a "megatable"), which makes comparison and visualisation far easier. It also identifies any cases where apertures overlap, discarding one of the two degenerate spectra from the sample.

In [1]:
from astropy.io import fits, ascii
import astropy.table as aptb
import numpy as np
import gc
from contextlib import contextmanager
import pandas as pd

from astro_utils import io as auio
from astro_utils import constants as auconst
from astro_utils import catalogue_operations as aucat

/home/james/.local/lib/python3.9/site-packages/pandas/core/computation/expressions.py:21: UserWarning: Pandas requires version '2.8.4' or newer of 'numexpr' (version '2.7.2' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED
/home/james/.local/lib/python3.9/site-packages/pandas/core/arrays/masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.2.1' currently installed).
  from pandas.core import (

No Bottleneck unit testing available.

In [2]:
# Variables that define which results to load
SPEC_TYPE   = '1fwhm_opt' # can be '1fwhm', '2fwhm_opt', etc for APER, 'weight_skysub' etc for R21

In [3]:
@contextmanager
def load_results(cluster, spec_type):
    """ Load fit results generated by S01 spectral extraction and fitting script along with
    Richard et al. 2021 catalogue for a given cluster and spectrum type.
    
    Parameters
    ----------
    cluster : str
        Cluster name to load results for (e.g. 'A2744').
    spec_type : str
        What subtype of spectrum to load (aperture size for APER, or weighting/sky subtraction for R21).
        For aperture spectra, can be '1fwhm', '2fwhm', etc.
        For Richard et al. 2021 spectra, can be 'weight_skysub', etc.

    Returns
    -------
    tuple of astropy.table.Table
        A tuple containing three tables:
        - The main fit results table (all lines or Lyman-alpha only).
        - The Lyman-alpha fit results table.
        - The Richard et al. 2021 catalogue table.

    Notes
    -----
    This function assumes a specific directory structure for the fit results files (specified in 
    astro_utils documentation).
    """
    fn = f"{cluster}_{spec_type}_lines.fits"
    fn_lya = f"{cluster}_{spec_type}_lya.fits"
    fn_r21 = f"{cluster}_v?.?.fits"

    data_dir = auio.get_data_dir()
    filepath = data_dir / cluster / "catalogs" / "fit_results" / fn
    filepath_lya = data_dir / cluster / "catalogs" / "fit_results" / fn_lya
    filepath_r21 = next((data_dir / cluster / "catalogs" / "R21").glob(fn_r21))
    hdul = fits.open(filepath)
    hdul_lya = fits.open(filepath_lya)
    hdul_r21 = fits.open(filepath_r21)

    try:
        yield aptb.Table(hdul[1].data).to_pandas(), \
                aptb.Table(hdul_lya[1].data).to_pandas(), \
                aptb.Table(hdul_r21[1].data).to_pandas()
    finally:
        hdul.close()
        hdul_lya.close()
        hdul_r21.close()

In [4]:
# Get list of cluster names based on directories in data folder that contain fit results files
data_dir = auio.get_data_dir()
cluster_dirs = [d for d in data_dir.iterdir() if any((d / "catalogs" / "fit_results").glob("*.fits"))]
cluster_names = [d.name for d in cluster_dirs]

In [5]:
# Constants
c = 299792.458  # speed of light in km/s
wavedict = auconst.wavedict  # Dictionary of common wavelengths in Angstroms
muse_start = 4749.8310546875 # minimum wavelength of MUSE in Angstroms
muse_end = muse_start + 3681. * 1.25 # maximum wavelength of MUSE in Angstroms
minz = muse_start / wavedict['LYALPHA'] - 1.
maxz = muse_end / wavedict['LYALPHA'] - 1.

# Get a list of all lines that fall within the MUSE wavelength range at the redshifts of our Lya sources
good_lines = []
for line, restwave in wavedict.items():
    if line == 'DUST':  # Skip DUST pseudo-line
        continue
    wvl = restwave
    minlam = wvl * (1. + minz)
    maxlam = wvl * (1. + maxz)
    if (muse_start < minlam < muse_end) or (muse_start < maxlam < muse_end):
        # Check to see if this line is ever reported at significance > 5 sigma in our fit results
        for cluster in cluster_names:
            with load_results(cluster, SPEC_TYPE) as (restab, _, _):
                sigmas = np.abs(restab['SNR'])
                line_mask = restab['LINE'] == line
                if np.any(sigmas[line_mask] > 5):
                    good_lines.append(line)
                    break  # No need to check other clusters for this line

print(f"{len(good_lines)} lines within MUSE wavelength range at Lya source redshifts:")
for line in good_lines:
    print(f" - {line}")

gc.collect()

29 lines within MUSE wavelength range at Lya source redshifts:
 - AlII1671
 - AlIII1854
 - AlIII1862
 - CII1334
 - CII2329
 - CIII1907
 - CIII1909
 - CIV1548
 - CIV1551
 - FeII1608
 - FeII1611
 - FeII2383
 - HeII1640
 - NIII1750
 - NIV1483
 - NIV1487
 - NV1238
 - NV1243
 - OI1302
 - OIII1660
 - OIII1666
 - OVI1032
 - OVI1038
 - SiII1260
 - SiII1304
 - SiIII1883
 - SiIII1892
 - SiIV1394
 - SiIV1403

0

In [6]:
# Loop over clusters, creating mgatables for each one
jtab_paths = {}
for cluster in cluster_names:
    with load_results(cluster, SPEC_TYPE) as (linetab, lyatab, r21tab):
        print(f"Processing cluster {cluster}...")

        r21tab = r21tab[r21tab.MU != 1.0] # Get rid of MU == 1.0 rows in the r21tab as they are possibly bugged
        lyatab = lyatab[lyatab.MU != 1.0]
        linetab = linetab[linetab.MU != 1.0]

        # Update the naming convention for the catalogue sources to match the fit results
        new_ids = []
        for row in r21tab.itertuples():
            full_id = row.idfrom[0].replace('E','X') + str(row.iden).strip()
            new_ids.append(full_id)
        r21tab['iden'] = new_ids

        # Check to make sure that the IDs match those in the fit results and eliminate any
        # sources in the catalogue that are not in the fit results (to save memory later on)
        fit_ids = linetab.iden
        r21_ids = r21tab.iden

        # Retain only those rows in r21tab that are also in fit_ids
        mask = np.isin(r21_ids, fit_ids)
        r21tab = r21tab[mask]

        # Update r21_ids after masking
        r21_ids = r21tab.iden

        # Check to make sure the IDs now match
        assert set(fit_ids) == set(r21_ids), "Mismatch between fit results IDs and Richard et al. 2021 catalogue IDs"

        # Raise an error if there are duplicate IDs in the R21 or lya results
        if r21tab['iden'].duplicated().any():
            raise ValueError(f"Duplicate IDs found in R21 catalogue for cluster {cluster}")
        if lyatab['iden'].duplicated().any():
            raise ValueError(f"Duplicate IDs found in Lya results for cluster {cluster}")

        print(f"Processing results tables for cluster {cluster}...")

        # Filtering and renaming columns in the Lya results table
        lyatab.drop(['LINE', 'LBDA_REST', 'MU', 'MU_ERR'], axis=1, inplace=True)  # This will cause duplication if we leave it in
        lyatab.rename(dict(zip(['Z', 'Z_ERR'], ['Z_LYA', 'Z_LYA_ERR'])), axis=1, inplace=True) # Rename for clarity
        lyatab['CLUSTER'] = cluster  # This just makes a column with the cluster name in it for the Lya results tab

        clus_linelist = np.unique(linetab.LINE)  # This tells us what individual unique lines are in the big results tab
        clus_linelist = [line for line in clus_linelist if line in good_lines]  # Keep only lines that are in the good lines list
        for i, line in enumerate(clus_linelist):
            t = linetab[linetab.LINE == line].copy() # Get only rows for this line
            t.drop_duplicates(subset='iden', keep='first', inplace=True)  # Remove duplicate entries for same source
            t.drop(['LINE', 'LBDA_REST', 'MU', 'MU_ERR', 'Z', 'Z_ERR'], axis=1, inplace=True) # Remove unnecessary columns
            t.rename(dict(zip(t.columns[1:], [s + '_' + line for s in t.columns[1:]])), axis=1, inplace=True) # Rename columns to include line name suffix

            # Merge this line's results into the Lya megatable
            lyatab = pd.merge(lyatab, t, on='iden', how='left')
            print(f"Line megatab has {len(lyatab)} rows and {len(lyatab.columns)} columns"
                  f" after adding line {i+1}/{len(clus_linelist)}: {line}")
            gc.collect()

        # Join the original catalogue and the Lya results
        print(f"Generating joined table for cluster {cluster}...")
        jtab = pd.merge(r21tab, lyatab, on='iden', how='left')
        
        # Put the cluster name as the second column
        jcolnames = jtab.columns.tolist()
        jcolnames.remove('CLUSTER')
        jcolnames.insert(1, 'CLUSTER')
        jtab = jtab[jcolnames]
        
        # Save the joined table to the disc
        print(f"Saving joined table for cluster {cluster}...")
        pathname = auio.get_data_dir() / cluster / 'catalogs' / 'fit_results' / f'megatable_{SPEC_TYPE}.csv'
        jtab.to_csv(pathname, index=False)
        jtab_paths[cluster] = pathname

        gc.collect()

Processing cluster MACS0257...
Processing results tables for cluster MACS0257...
Line megatab has 79 rows and 54 columns after adding line 1/28: AlII1671
Line megatab has 79 rows and 67 columns after adding line 2/28: AlIII1854
Line megatab has 79 rows and 80 columns after adding line 3/28: AlIII1862
Line megatab has 79 rows and 93 columns after adding line 4/28: CII1334
Line megatab has 79 rows and 106 columns after adding line 5/28: CII2329
Line megatab has 79 rows and 119 columns after adding line 6/28: CIII1907
Line megatab has 79 rows and 132 columns after adding line 7/28: CIII1909
Line megatab has 79 rows and 145 columns after adding line 8/28: CIV1548
Line megatab has 79 rows and 158 columns after adding line 9/28: CIV1551
Line megatab has 79 rows and 171 columns after adding line 10/28: FeII1608
Line megatab has 79 rows and 184 columns after adding line 11/28: FeII1611
Line megatab has 79 rows and 197 columns after adding line 12/28: HeII1640
Line megatab has 79 rows and 210 columns after adding line 13/28: NIII1750
Line megatab has 79 rows and 223 columns after adding line 14/28: NIV1483
Line megatab has 79 rows and 236 columns after adding line 15/28: NIV1487
Line megatab has 79 rows and 249 columns after adding line 16/28: NV1238
Line megatab has 79 rows and 262 columns after adding line 17/28: NV1243
Line megatab has 79 rows and 275 columns after adding line 18/28: OI1302
Line megatab has 79 rows and 288 columns after adding line 19/28: OIII1660
Line megatab has 79 rows and 301 columns after adding line 20/28: OIII1666
Line megatab has 79 rows and 314 columns after adding line 21/28: OVI1032
Line megatab has 79 rows and 327 columns after adding line 22/28: OVI1038
Line megatab has 79 rows and 340 columns after adding line 23/28: SiII1260
Line megatab has 79 rows and 353 columns after adding line 24/28: SiII1304
Line megatab has 79 rows and 366 columns after adding line 25/28: SiIII1883
Line megatab has 79 rows and 379 columns after adding line 26/28: SiIII1892
Line megatab has 79 rows and 392 columns after adding line 27/28: SiIV1394
Line megatab has 79 rows and 405 columns after adding line 28/28: SiIV1403
Generating joined table for cluster MACS0257...
Saving joined table for cluster MACS0257...
Processing cluster A2744...
Processing results tables for cluster A2744...
Line megatab has 175 rows and 54 columns after adding line 1/29: AlII1671
Line megatab has 175 rows and 67 columns after adding line 2/29: AlIII1854
Line megatab has 175 rows and 80 columns after adding line 3/29: AlIII1862
Line megatab has 175 rows and 93 columns after adding line 4/29: CII1334
Line megatab has 175 rows and 106 columns after adding line 5/29: CII2329
Line megatab has 175 rows and 119 columns after adding line 6/29: CIII1907
Line megatab has 175 rows and 132 columns after adding line 7/29: CIII1909
Line megatab has 175 rows and 145 columns after adding line 8/29: CIV1548
Line megatab has 175 rows and 158 columns after adding line 9/29: CIV1551
Line megatab has 175 rows and 171 columns after adding line 10/29: FeII1608
Line megatab has 175 rows and 184 columns after adding line 11/29: FeII1611
Line megatab has 175 rows and 197 columns after adding line 12/29: FeII2383
Line megatab has 175 rows and 210 columns after adding line 13/29: HeII1640
Line megatab has 175 rows and 223 columns after adding line 14/29: NIII1750
Line megatab has 175 rows and 236 columns after adding line 15/29: NIV1483
Line megatab has 175 rows and 249 columns after adding line 16/29: NIV1487
Line megatab has 175 rows and 262 columns after adding line 17/29: NV1238
Line megatab has 175 rows and 275 columns after adding line 18/29: NV1243
Line megatab has 175 rows and 288 columns after adding line 19/29: OI1302
Line megatab has 175 rows and 301 columns after adding line 20/29: OIII1660
Line megatab has 175 rows and 314 columns after adding line 21/29: OIII1666
Line megatab has 175 rows and 327 columns after adding line 22/29: OVI1032
Line megatab has 175 rows and 340 columns after adding line 23/29: OVI1038
Line megatab has 175 rows and 353 columns after adding line 24/29: SiII1260
Line megatab has 175 rows and 366 columns after adding line 25/29: SiII1304
Line megatab has 175 rows and 379 columns after adding line 26/29: SiIII1883
Line megatab has 175 rows and 392 columns after adding line 27/29: SiIII1892
Line megatab has 175 rows and 405 columns after adding line 28/29: SiIV1394
Line megatab has 175 rows and 418 columns after adding line 29/29: SiIV1403
Generating joined table for cluster A2744...
Saving joined table for cluster A2744...
Processing cluster A370...
Processing results tables for cluster A370...
Line megatab has 98 rows and 54 columns after adding line 1/29: AlII1671
Line megatab has 98 rows and 67 columns after adding line 2/29: AlIII1854
Line megatab has 98 rows and 80 columns after adding line 3/29: AlIII1862
Line megatab has 98 rows and 93 columns after adding line 4/29: CII1334
Line megatab has 98 rows and 106 columns after adding line 5/29: CII2329
Line megatab has 98 rows and 119 columns after adding line 6/29: CIII1907
Line megatab has 98 rows and 132 columns after adding line 7/29: CIII1909
Line megatab has 98 rows and 145 columns after adding line 8/29: CIV1548
Line megatab has 98 rows and 158 columns after adding line 9/29: CIV1551
Line megatab has 98 rows and 171 columns after adding line 10/29: FeII1608
Line megatab has 98 rows and 184 columns after adding line 11/29: FeII1611
Line megatab has 98 rows and 197 columns after adding line 12/29: FeII2383
Line megatab has 98 rows and 210 columns after adding line 13/29: HeII1640
Line megatab has 98 rows and 223 columns after adding line 14/29: NIII1750
Line megatab has 98 rows and 236 columns after adding line 15/29: NIV1483
Line megatab has 98 rows and 249 columns after adding line 16/29: NIV1487
Line megatab has 98 rows and 262 columns after adding line 17/29: NV1238
Line megatab has 98 rows and 275 columns after adding line 18/29: NV1243
Line megatab has 98 rows and 288 columns after adding line 19/29: OI1302
Line megatab has 98 rows and 301 columns after adding line 20/29: OIII1660
Line megatab has 98 rows and 314 columns after adding line 21/29: OIII1666
Line megatab has 98 rows and 327 columns after adding line 22/29: OVI1032
Line megatab has 98 rows and 340 columns after adding line 23/29: OVI1038
Line megatab has 98 rows and 353 columns after adding line 24/29: SiII1260
Line megatab has 98 rows and 366 columns after adding line 25/29: SiII1304
Line megatab has 98 rows and 379 columns after adding line 26/29: SiIII1883
Line megatab has 98 rows and 392 columns after adding line 27/29: SiIII1892
Line megatab has 98 rows and 405 columns after adding line 28/29: SiIV1394
Line megatab has 98 rows and 418 columns after adding line 29/29: SiIV1403
Generating joined table for cluster A370...
Saving joined table for cluster A370...
Processing cluster BULLET...
Processing results tables for cluster BULLET...
Line megatab has 17 rows and 54 columns after adding line 1/27: AlII1671
Line megatab has 17 rows and 67 columns after adding line 2/27: AlIII1854
Line megatab has 17 rows and 80 columns after adding line 3/27: AlIII1862
Line megatab has 17 rows and 93 columns after adding line 4/27: CII1334
Line megatab has 17 rows and 106 columns after adding line 5/27: CIII1907
Line megatab has 17 rows and 119 columns after adding line 6/27: CIII1909
Line megatab has 17 rows and 132 columns after adding line 7/27: CIV1548
Line megatab has 17 rows and 145 columns after adding line 8/27: CIV1551
Line megatab has 17 rows and 158 columns after adding line 9/27: FeII1608
Line megatab has 17 rows and 171 columns after adding line 10/27: FeII1611
Line megatab has 17 rows and 184 columns after adding line 11/27: HeII1640
Line megatab has 17 rows and 197 columns after adding line 12/27: NIII1750
Line megatab has 17 rows and 210 columns after adding line 13/27: NIV1483
Line megatab has 17 rows and 223 columns after adding line 14/27: NIV1487
Line megatab has 17 rows and 236 columns after adding line 15/27: NV1238
Line megatab has 17 rows and 249 columns after adding line 16/27: NV1243
Line megatab has 17 rows and 262 columns after adding line 17/27: OI1302
Line megatab has 17 rows and 275 columns after adding line 18/27: OIII1660
Line megatab has 17 rows and 288 columns after adding line 19/27: OIII1666
Line megatab has 17 rows and 301 columns after adding line 20/27: OVI1032
Line megatab has 17 rows and 314 columns after adding line 21/27: OVI1038
Line megatab has 17 rows and 327 columns after adding line 22/27: SiII1260
Line megatab has 17 rows and 340 columns after adding line 23/27: SiII1304
Line megatab has 17 rows and 353 columns after adding line 24/27: SiIII1883
Line megatab has 17 rows and 366 columns after adding line 25/27: SiIII1892
Line megatab has 17 rows and 379 columns after adding line 26/27: SiIV1394
Line megatab has 17 rows and 392 columns after adding line 27/27: SiIV1403
Generating joined table for cluster BULLET...
Saving joined table for cluster BULLET...
Processing cluster MACS0329...
Processing results tables for cluster MACS0329...
Line megatab has 37 rows and 54 columns after adding line 1/29: AlII1671
Line megatab has 37 rows and 67 columns after adding line 2/29: AlIII1854
Line megatab has 37 rows and 80 columns after adding line 3/29: AlIII1862
Line megatab has 37 rows and 93 columns after adding line 4/29: CII1334
Line megatab has 37 rows and 106 columns after adding line 5/29: CII2329
Line megatab has 37 rows and 119 columns after adding line 6/29: CIII1907
Line megatab has 37 rows and 132 columns after adding line 7/29: CIII1909
Line megatab has 37 rows and 145 columns after adding line 8/29: CIV1548
Line megatab has 37 rows and 158 columns after adding line 9/29: CIV1551
Line megatab has 37 rows and 171 columns after adding line 10/29: FeII1608
Line megatab has 37 rows and 184 columns after adding line 11/29: FeII1611
Line megatab has 37 rows and 197 columns after adding line 12/29: FeII2383
Line megatab has 37 rows and 210 columns after adding line 13/29: HeII1640
Line megatab has 37 rows and 223 columns after adding line 14/29: NIII1750
Line megatab has 37 rows and 236 columns after adding line 15/29: NIV1483
Line megatab has 37 rows and 249 columns after adding line 16/29: NIV1487
Line megatab has 37 rows and 262 columns after adding line 17/29: NV1238
Line megatab has 37 rows and 275 columns after adding line 18/29: NV1243
Line megatab has 37 rows and 288 columns after adding line 19/29: OI1302
Line megatab has 37 rows and 301 columns after adding line 20/29: OIII1660
Line megatab has 37 rows and 314 columns after adding line 21/29: OIII1666
Line megatab has 37 rows and 327 columns after adding line 22/29: OVI1032
Line megatab has 37 rows and 340 columns after adding line 23/29: OVI1038
Line megatab has 37 rows and 353 columns after adding line 24/29: SiII1260
Line megatab has 37 rows and 366 columns after adding line 25/29: SiII1304
Line megatab has 37 rows and 379 columns after adding line 26/29: SiIII1883
Line megatab has 37 rows and 392 columns after adding line 27/29: SiIII1892
Line megatab has 37 rows and 405 columns after adding line 28/29: SiIV1394
Line megatab has 37 rows and 418 columns after adding line 29/29: SiIV1403
Generating joined table for cluster MACS0329...
Saving joined table for cluster MACS0329...
Processing cluster MACS0416NE...
Processing results tables for cluster MACS0416NE...
Line megatab has 109 rows and 54 columns after adding line 1/29: AlII1671
Line megatab has 109 rows and 67 columns after adding line 2/29: AlIII1854
Line megatab has 109 rows and 80 columns after adding line 3/29: AlIII1862
Line megatab has 109 rows and 93 columns after adding line 4/29: CII1334
Line megatab has 109 rows and 106 columns after adding line 5/29: CII2329
Line megatab has 109 rows and 119 columns after adding line 6/29: CIII1907
Line megatab has 109 rows and 132 columns after adding line 7/29: CIII1909
Line megatab has 109 rows and 145 columns after adding line 8/29: CIV1548
Line megatab has 109 rows and 158 columns after adding line 9/29: CIV1551
Line megatab has 109 rows and 171 columns after adding line 10/29: FeII1608
Line megatab has 109 rows and 184 columns after adding line 11/29: FeII1611
Line megatab has 109 rows and 197 columns after adding line 12/29: FeII2383
Line megatab has 109 rows and 210 columns after adding line 13/29: HeII1640
Line megatab has 109 rows and 223 columns after adding line 14/29: NIII1750
Line megatab has 109 rows and 236 columns after adding line 15/29: NIV1483
Line megatab has 109 rows and 249 columns after adding line 16/29: NIV1487
Line megatab has 109 rows and 262 columns after adding line 17/29: NV1238
Line megatab has 109 rows and 275 columns after adding line 18/29: NV1243
Line megatab has 109 rows and 288 columns after adding line 19/29: OI1302
Line megatab has 109 rows and 301 columns after adding line 20/29: OIII1660
Line megatab has 109 rows and 314 columns after adding line 21/29: OIII1666
Line megatab has 109 rows and 327 columns after adding line 22/29: OVI1032
Line megatab has 109 rows and 340 columns after adding line 23/29: OVI1038
Line megatab has 109 rows and 353 columns after adding line 24/29: SiII1260
Line megatab has 109 rows and 366 columns after adding line 25/29: SiII1304
Line megatab has 109 rows and 379 columns after adding line 26/29: SiIII1883
Line megatab has 109 rows and 392 columns after adding line 27/29: SiIII1892
Line megatab has 109 rows and 405 columns after adding line 28/29: SiIV1394
Line megatab has 109 rows and 418 columns after adding line 29/29: SiIV1403
Generating joined table for cluster MACS0416NE...
Saving joined table for cluster MACS0416NE...
Processing cluster MACS0416S...
Processing results tables for cluster MACS0416S...
Line megatab has 63 rows and 54 columns after adding line 1/29: AlII1671
Line megatab has 63 rows and 67 columns after adding line 2/29: AlIII1854
Line megatab has 63 rows and 80 columns after adding line 3/29: AlIII1862
Line megatab has 63 rows and 93 columns after adding line 4/29: CII1334
Line megatab has 63 rows and 106 columns after adding line 5/29: CII2329
Line megatab has 63 rows and 119 columns after adding line 6/29: CIII1907
Line megatab has 63 rows and 132 columns after adding line 7/29: CIII1909
Line megatab has 63 rows and 145 columns after adding line 8/29: CIV1548
Line megatab has 63 rows and 158 columns after adding line 9/29: CIV1551
Line megatab has 63 rows and 171 columns after adding line 10/29: FeII1608
Line megatab has 63 rows and 184 columns after adding line 11/29: FeII1611
Line megatab has 63 rows and 197 columns after adding line 12/29: FeII2383
Line megatab has 63 rows and 210 columns after adding line 13/29: HeII1640
Line megatab has 63 rows and 223 columns after adding line 14/29: NIII1750
Line megatab has 63 rows and 236 columns after adding line 15/29: NIV1483
Line megatab has 63 rows and 249 columns after adding line 16/29: NIV1487
Line megatab has 63 rows and 262 columns after adding line 17/29: NV1238
Line megatab has 63 rows and 275 columns after adding line 18/29: NV1243
Line megatab has 63 rows and 288 columns after adding line 19/29: OI1302
Line megatab has 63 rows and 301 columns after adding line 20/29: OIII1660
Line megatab has 63 rows and 314 columns after adding line 21/29: OIII1666
Line megatab has 63 rows and 327 columns after adding line 22/29: OVI1032
Line megatab has 63 rows and 340 columns after adding line 23/29: OVI1038
Line megatab has 63 rows and 353 columns after adding line 24/29: SiII1260
Line megatab has 63 rows and 366 columns after adding line 25/29: SiII1304
Line megatab has 63 rows and 379 columns after adding line 26/29: SiIII1883
Line megatab has 63 rows and 392 columns after adding line 27/29: SiIII1892
Line megatab has 63 rows and 405 columns after adding line 28/29: SiIV1394
Line megatab has 63 rows and 418 columns after adding line 29/29: SiIV1403
Generating joined table for cluster MACS0416S...
Saving joined table for cluster MACS0416S...
Processing cluster MACS0940...
Processing results tables for cluster MACS0940...
Line megatab has 85 rows and 54 columns after adding line 1/29: AlII1671
Line megatab has 85 rows and 67 columns after adding line 2/29: AlIII1854
Line megatab has 85 rows and 80 columns after adding line 3/29: AlIII1862
Line megatab has 85 rows and 93 columns after adding line 4/29: CII1334
Line megatab has 85 rows and 106 columns after adding line 5/29: CII2329
Line megatab has 85 rows and 119 columns after adding line 6/29: CIII1907
Line megatab has 85 rows and 132 columns after adding line 7/29: CIII1909
Line megatab has 85 rows and 145 columns after adding line 8/29: CIV1548
Line megatab has 85 rows and 158 columns after adding line 9/29: CIV1551
Line megatab has 85 rows and 171 columns after adding line 10/29: FeII1608
Line megatab has 85 rows and 184 columns after adding line 11/29: FeII1611
Line megatab has 85 rows and 197 columns after adding line 12/29: FeII2383
Line megatab has 85 rows and 210 columns after adding line 13/29: HeII1640
Line megatab has 85 rows and 223 columns after adding line 14/29: NIII1750
Line megatab has 85 rows and 236 columns after adding line 15/29: NIV1483
Line megatab has 85 rows and 249 columns after adding line 16/29: NIV1487
Line megatab has 85 rows and 262 columns after adding line 17/29: NV1238
Line megatab has 85 rows and 275 columns after adding line 18/29: NV1243
Line megatab has 85 rows and 288 columns after adding line 19/29: OI1302
Line megatab has 85 rows and 301 columns after adding line 20/29: OIII1660
Line megatab has 85 rows and 314 columns after adding line 21/29: OIII1666
Line megatab has 85 rows and 327 columns after adding line 22/29: OVI1032
Line megatab has 85 rows and 340 columns after adding line 23/29: OVI1038
Line megatab has 85 rows and 353 columns after adding line 24/29: SiII1260
Line megatab has 85 rows and 366 columns after adding line 25/29: SiII1304
Line megatab has 85 rows and 379 columns after adding line 26/29: SiIII1883
Line megatab has 85 rows and 392 columns after adding line 27/29: SiIII1892
Line megatab has 85 rows and 405 columns after adding line 28/29: SiIV1394
Line megatab has 85 rows and 418 columns after adding line 29/29: SiIV1403
Generating joined table for cluster MACS0940...
Saving joined table for cluster MACS0940...
Processing cluster MACS1206...
Processing results tables for cluster MACS1206...
Line megatab has 89 rows and 54 columns after adding line 1/27: AlII1671
Line megatab has 89 rows and 67 columns after adding line 2/27: AlIII1854
Line megatab has 89 rows and 80 columns after adding line 3/27: AlIII1862
Line megatab has 89 rows and 93 columns after adding line 4/27: CII1334
Line megatab has 89 rows and 106 columns after adding line 5/27: CIII1907
Line megatab has 89 rows and 119 columns after adding line 6/27: CIII1909
Line megatab has 89 rows and 132 columns after adding line 7/27: CIV1548
Line megatab has 89 rows and 145 columns after adding line 8/27: CIV1551
Line megatab has 89 rows and 158 columns after adding line 9/27: FeII1608
Line megatab has 89 rows and 171 columns after adding line 10/27: FeII1611
Line megatab has 89 rows and 184 columns after adding line 11/27: HeII1640
Line megatab has 89 rows and 197 columns after adding line 12/27: NIII1750
Line megatab has 89 rows and 210 columns after adding line 13/27: NIV1483
Line megatab has 89 rows and 223 columns after adding line 14/27: NIV1487
Line megatab has 89 rows and 236 columns after adding line 15/27: NV1238
Line megatab has 89 rows and 249 columns after adding line 16/27: NV1243
Line megatab has 89 rows and 262 columns after adding line 17/27: OI1302
Line megatab has 89 rows and 275 columns after adding line 18/27: OIII1660
Line megatab has 89 rows and 288 columns after adding line 19/27: OIII1666
Line megatab has 89 rows and 301 columns after adding line 20/27: OVI1032

In [7]:
# Now concatenate all the individual cluster megatables into one big megatable
all_tabs = []
for cluster, path in jtab_paths.items():
    print(f"Loading megatable for cluster {cluster} from {path}...")
    tab = pd.read_csv(path)
    all_tabs.append(tab)

# Combine all cluster tables into one big table
big_megatable = pd.concat(all_tabs, ignore_index=True)
print(f"Combined megatable has {len(big_megatable)} rows and {len(big_megatable.columns)} columns.")

Loading megatable for cluster MACS0257 from /media/james/63C4C5633F1EAE9F/phd/lya_outflows/muse_data/MACS0257/catalogs/fit_results/megatable_1fwhm_opt.csv...
Loading megatable for cluster A2744 from /media/james/63C4C5633F1EAE9F/phd/lya_outflows/muse_data/A2744/catalogs/fit_results/megatable_1fwhm_opt.csv...
Loading megatable for cluster A370 from /media/james/63C4C5633F1EAE9F/phd/lya_outflows/muse_data/A370/catalogs/fit_results/megatable_1fwhm_opt.csv...
Loading megatable for cluster BULLET from /media/james/63C4C5633F1EAE9F/phd/lya_outflows/muse_data/BULLET/catalogs/fit_results/megatable_1fwhm_opt.csv...
Loading megatable for cluster MACS0329 from /media/james/63C4C5633F1EAE9F/phd/lya_outflows/muse_data/MACS0329/catalogs/fit_results/megatable_1fwhm_opt.csv...
Loading megatable for cluster MACS0416NE from /media/james/63C4C5633F1EAE9F/phd/lya_outflows/muse_data/MACS0416NE/catalogs/fit_results/megatable_1fwhm_opt.csv...
Loading megatable for cluster MACS0416S from /media/james/63C4C5633F1EAE9F/phd/lya_outflows/muse_data/MACS0416S/catalogs/fit_results/megatable_1fwhm_opt.csv...
Loading megatable for cluster MACS0940 from /media/james/63C4C5633F1EAE9F/phd/lya_outflows/muse_data/MACS0940/catalogs/fit_results/megatable_1fwhm_opt.csv...
Loading megatable for cluster MACS1206 from /media/james/63C4C5633F1EAE9F/phd/lya_outflows/muse_data/MACS1206/catalogs/fit_results/megatable_1fwhm_opt.csv...
Loading megatable for cluster MACS2214 from /media/james/63C4C5633F1EAE9F/phd/lya_outflows/muse_data/MACS2214/catalogs/fit_results/megatable_1fwhm_opt.csv...
Loading megatable for cluster RXJ1347 from /media/james/63C4C5633F1EAE9F/phd/lya_outflows/muse_data/RXJ1347/catalogs/fit_results/megatable_1fwhm_opt.csv...
Loading megatable for cluster SMACS2031 from /media/james/63C4C5633F1EAE9F/phd/lya_outflows/muse_data/SMACS2031/catalogs/fit_results/megatable_1fwhm_opt.csv...
Loading megatable for cluster SMACS2131 from /media/james/63C4C5633F1EAE9F/phd/lya_outflows/muse_data/SMACS2131/catalogs/fit_results/megatable_1fwhm_opt.csv...
Combined megatable has 1079 rows and 513 columns.

In [25]:
# Convert to an Astropy Table
megatab = aptb.Table.from_pandas(big_megatable)

# Replace any zeros with NaNs in floating point columns
for col in megatab.colnames:
    if np.issubdtype(megatab[col].dtype, np.floating):
        print(f"Replacing zeros with NaN in column {col}...")
        megatab[col][megatab[col] == 0.0] = np.nan

Replacing zeros with NaN in column z...
Replacing zeros with NaN in column RA...
Replacing zeros with NaN in column DEC...
Replacing zeros with NaN in column A_WORLD...
Replacing zeros with NaN in column B_WORLD...
Replacing zeros with NaN in column THETA_J2000...
Replacing zeros with NaN in column KRON_RADIUS...
Replacing zeros with NaN in column THRESHOLD...
Replacing zeros with NaN in column MU_MAX...
Replacing zeros with NaN in column CLASS_STAR...
Replacing zeros with NaN in column FWHM_IMAGE...
Replacing zeros with NaN in column FLUX_RADIUS...
Replacing zeros with NaN in column MAG_ISO_HST_F606W...
Replacing zeros with NaN in column MAGERR_ISO_HST_F606W...
Replacing zeros with NaN in column MAG_AUTO_HST_F606W...
Replacing zeros with NaN in column MAGERR_AUTO_HST_F606W...
Replacing zeros with NaN in column MAG_ISO_HST_F814W...
Replacing zeros with NaN in column MAGERR_ISO_HST_F814W...
Replacing zeros with NaN in column MAG_AUTO_HST_F814W...
Replacing zeros with NaN in column MAGERR_AUTO_HST_F814W...
Replacing zeros with NaN in column MAG_ISO_HST_F110W...
Replacing zeros with NaN in column MAGERR_ISO_HST_F110W...
Replacing zeros with NaN in column MAG_AUTO_HST_F110W...
Replacing zeros with NaN in column MAGERR_AUTO_HST_F110W...
Replacing zeros with NaN in column MAG_ISO_HST_F160W...
Replacing zeros with NaN in column MAGERR_ISO_HST_F160W...
Replacing zeros with NaN in column MAG_AUTO_HST_F160W...
Replacing zeros with NaN in column MAGERR_AUTO_HST_F160W...
Replacing zeros with NaN in column MU...
Replacing zeros with NaN in column MU_ERR...
Replacing zeros with NaN in column zforbid...
Replacing zeros with NaN in column zforbid_err...
Replacing zeros with NaN in column zbalmer...
Replacing zeros with NaN in column zbalmer_err...
Replacing zeros with NaN in column zlya...
Replacing zeros with NaN in column zlya_err...
Replacing zeros with NaN in column zabs...
Replacing zeros with NaN in column zabs_err...
Replacing zeros with NaN in column FLUXB...
Replacing zeros with NaN in column FLUXB_ERR...
Replacing zeros with NaN in column FLUXR...
Replacing zeros with NaN in column FLUXR_ERR...
Replacing zeros with NaN in column AMPR...
Replacing zeros with NaN in column AMPR_ERR...
Replacing zeros with NaN in column AMPB...
Replacing zeros with NaN in column AMPB_ERR...
Replacing zeros with NaN in column LPEAKR...
Replacing zeros with NaN in column LPEAKR_ERR...
Replacing zeros with NaN in column LPEAKB...
Replacing zeros with NaN in column LPEAKB_ERR...
Replacing zeros with NaN in column FWHMR...
Replacing zeros with NaN in column FWHMR_ERR...
Replacing zeros with NaN in column FWHMB...
Replacing zeros with NaN in column FWHMB_ERR...
Replacing zeros with NaN in column DISPR...
Replacing zeros with NaN in column DISPR_ERR...
Replacing zeros with NaN in column DISPB...
Replacing zeros with NaN in column DISPB_ERR...
Replacing zeros with NaN in column SNRR...
Replacing zeros with NaN in column SNRB...
Replacing zeros with NaN in column ASYMR...
Replacing zeros with NaN in column ASYMR_ERR...
Replacing zeros with NaN in column ASYMB...
Replacing zeros with NaN in column ASYMB_ERR...
Replacing zeros with NaN in column CONT...
Replacing zeros with NaN in column CONT_ERR...
Replacing zeros with NaN in column SLOPE...
Replacing zeros with NaN in column SLOPE_ERR...
Replacing zeros with NaN in column TAU...
Replacing zeros with NaN in column TAU_ERR...
Replacing zeros with NaN in column FWHM_ABS...
Replacing zeros with NaN in column FWHM_ABS_ERR...
Replacing zeros with NaN in column LPEAK_ABS...
Replacing zeros with NaN in column LPEAK_ABS_ERR...
Replacing zeros with NaN in column Z_LYA...
Replacing zeros with NaN in column Z_LYA_ERR...
Replacing zeros with NaN in column FLUXB_UB...
Replacing zeros with NaN in column FLUX_AlII1671...
Replacing zeros with NaN in column FLUX_ERR_AlII1671...
Replacing zeros with NaN in column LPEAK_AlII1671...
Replacing zeros with NaN in column LPEAK_ERR_AlII1671...
Replacing zeros with NaN in column FWHM_AlII1671...
Replacing zeros with NaN in column FWHM_ERR_AlII1671...
Replacing zeros with NaN in column SNR_AlII1671...
Replacing zeros with NaN in column CONT_AlII1671...
Replacing zeros with NaN in column CONT_ERR_AlII1671...
Replacing zeros with NaN in column SLOPE_AlII1671...
Replacing zeros with NaN in column SLOPE_ERR_AlII1671...
Replacing zeros with NaN in column RCHSQ_AlII1671...
Replacing zeros with NaN in column FLUX_AlIII1854...
Replacing zeros with NaN in column FLUX_ERR_AlIII1854...
Replacing zeros with NaN in column LPEAK_AlIII1854...
Replacing zeros with NaN in column LPEAK_ERR_AlIII1854...
Replacing zeros with NaN in column FWHM_AlIII1854...
Replacing zeros with NaN in column FWHM_ERR_AlIII1854...
Replacing zeros with NaN in column SNR_AlIII1854...
Replacing zeros with NaN in column CONT_AlIII1854...
Replacing zeros with NaN in column CONT_ERR_AlIII1854...
Replacing zeros with NaN in column SLOPE_AlIII1854...
Replacing zeros with NaN in column SLOPE_ERR_AlIII1854...
Replacing zeros with NaN in column RCHSQ_AlIII1854...
Replacing zeros with NaN in column FLAG_AlIII1854...
Replacing zeros with NaN in column FLUX_AlIII1862...
Replacing zeros with NaN in column FLUX_ERR_AlIII1862...
Replacing zeros with NaN in column LPEAK_AlIII1862...
Replacing zeros with NaN in column LPEAK_ERR_AlIII1862...
Replacing zeros with NaN in column FWHM_AlIII1862...
Replacing zeros with NaN in column FWHM_ERR_AlIII1862...
Replacing zeros with NaN in column SNR_AlIII1862...
Replacing zeros with NaN in column CONT_AlIII1862...
Replacing zeros with NaN in column CONT_ERR_AlIII1862...
Replacing zeros with NaN in column SLOPE_AlIII1862...
Replacing zeros with NaN in column SLOPE_ERR_AlIII1862...
Replacing zeros with NaN in column RCHSQ_AlIII1862...
Replacing zeros with NaN in column FLAG_AlIII1862...
Replacing zeros with NaN in column FLUX_CII1334...
Replacing zeros with NaN in column FLUX_ERR_CII1334...
Replacing zeros with NaN in column LPEAK_CII1334...
Replacing zeros with NaN in column LPEAK_ERR_CII1334...
Replacing zeros with NaN in column FWHM_CII1334...
Replacing zeros with NaN in column FWHM_ERR_CII1334...
Replacing zeros with NaN in column SNR_CII1334...
Replacing zeros with NaN in column CONT_CII1334...
Replacing zeros with NaN in column CONT_ERR_CII1334...
Replacing zeros with NaN in column SLOPE_CII1334...
Replacing zeros with NaN in column SLOPE_ERR_CII1334...
Replacing zeros with NaN in column RCHSQ_CII1334...
Replacing zeros with NaN in column FLUX_CII2329...
Replacing zeros with NaN in column FLUX_ERR_CII2329...
Replacing zeros with NaN in column LPEAK_CII2329...
Replacing zeros with NaN in column LPEAK_ERR_CII2329...
Replacing zeros with NaN in column FWHM_CII2329...
Replacing zeros with NaN in column FWHM_ERR_CII2329...
Replacing zeros with NaN in column SNR_CII2329...
Replacing zeros with NaN in column CONT_CII2329...
Replacing zeros with NaN in column CONT_ERR_CII2329...
Replacing zeros with NaN in column SLOPE_CII2329...
Replacing zeros with NaN in column SLOPE_ERR_CII2329...
Replacing zeros with NaN in column RCHSQ_CII2329...
Replacing zeros with NaN in column FLUX_CIII1907...
Replacing zeros with NaN in column FLUX_ERR_CIII1907...
Replacing zeros with NaN in column LPEAK_CIII1907...
Replacing zeros with NaN in column LPEAK_ERR_CIII1907...
Replacing zeros with NaN in column FWHM_CIII1907...
Replacing zeros with NaN in column FWHM_ERR_CIII1907...
Replacing zeros with NaN in column SNR_CIII1907...
Replacing zeros with NaN in column CONT_CIII1907...
Replacing zeros with NaN in column CONT_ERR_CIII1907...
Replacing zeros with NaN in column SLOPE_CIII1907...
Replacing zeros with NaN in column SLOPE_ERR_CIII1907...
Replacing zeros with NaN in column RCHSQ_CIII1907...
Replacing zeros with NaN in column FLUX_CIII1909...
Replacing zeros with NaN in column FLUX_ERR_CIII1909...
Replacing zeros with NaN in column LPEAK_CIII1909...
Replacing zeros with NaN in column LPEAK_ERR_CIII1909...
Replacing zeros with NaN in column FWHM_CIII1909...
Replacing zeros with NaN in column FWHM_ERR_CIII1909...
Replacing zeros with NaN in column SNR_CIII1909...
Replacing zeros with NaN in column CONT_CIII1909...
Replacing zeros with NaN in column CONT_ERR_CIII1909...
Replacing zeros with NaN in column SLOPE_CIII1909...
Replacing zeros with NaN in column SLOPE_ERR_CIII1909...
Replacing zeros with NaN in column RCHSQ_CIII1909...
Replacing zeros with NaN in column FLUX_CIV1548...
Replacing zeros with NaN in column FLUX_ERR_CIV1548...
Replacing zeros with NaN in column LPEAK_CIV1548...
Replacing zeros with NaN in column LPEAK_ERR_CIV1548...
Replacing zeros with NaN in column FWHM_CIV1548...
Replacing zeros with NaN in column FWHM_ERR_CIV1548...
Replacing zeros with NaN in column SNR_CIV1548...
Replacing zeros with NaN in column CONT_CIV1548...
Replacing zeros with NaN in column CONT_ERR_CIV1548...
Replacing zeros with NaN in column SLOPE_CIV1548...
Replacing zeros with NaN in column SLOPE_ERR_CIV1548...
Replacing zeros with NaN in column RCHSQ_CIV1548...
Replacing zeros with NaN in column FLUX_CIV1551...
Replacing zeros with NaN in column FLUX_ERR_CIV1551...
Replacing zeros with NaN in column LPEAK_CIV1551...
Replacing zeros with NaN in column LPEAK_ERR_CIV1551...
Replacing zeros with NaN in column FWHM_CIV1551...
Replacing zeros with NaN in column FWHM_ERR_CIV1551...
Replacing zeros with NaN in column SNR_CIV1551...
Replacing zeros with NaN in column CONT_CIV1551...
Replacing zeros with NaN in column CONT_ERR_CIV1551...
Replacing zeros with NaN in column SLOPE_CIV1551...
Replacing zeros with NaN in column SLOPE_ERR_CIV1551...
Replacing zeros with NaN in column RCHSQ_CIV1551...
Replacing zeros with NaN in column FLUX_FeII1608...
Replacing zeros with NaN in column FLUX_ERR_FeII1608...
Replacing zeros with NaN in column LPEAK_FeII1608...
Replacing zeros with NaN in column LPEAK_ERR_FeII1608...
Replacing zeros with NaN in column FWHM_FeII1608...
Replacing zeros with NaN in column FWHM_ERR_FeII1608...
Replacing zeros with NaN in column SNR_FeII1608...
Replacing zeros with NaN in column CONT_FeII1608...
Replacing zeros with NaN in column CONT_ERR_FeII1608...
Replacing zeros with NaN in column SLOPE_FeII1608...
Replacing zeros with NaN in column SLOPE_ERR_FeII1608...
Replacing zeros with NaN in column RCHSQ_FeII1608...
Replacing zeros with NaN in column FLUX_FeII1611...
Replacing zeros with NaN in column FLUX_ERR_FeII1611...
Replacing zeros with NaN in column LPEAK_FeII1611...
Replacing zeros with NaN in column LPEAK_ERR_FeII1611...
Replacing zeros with NaN in column FWHM_FeII1611...
Replacing zeros with NaN in column FWHM_ERR_FeII1611...
Replacing zeros with NaN in column SNR_FeII1611...
Replacing zeros with NaN in column CONT_FeII1611...
Replacing zeros with NaN in column CONT_ERR_FeII1611...
Replacing zeros with NaN in column SLOPE_FeII1611...
Replacing zeros with NaN in column SLOPE_ERR_FeII1611...
Replacing zeros with NaN in column RCHSQ_FeII1611...
Replacing zeros with NaN in column FLUX_HeII1640...
Replacing zeros with NaN in column FLUX_ERR_HeII1640...
Replacing zeros with NaN in column LPEAK_HeII1640...
Replacing zeros with NaN in column LPEAK_ERR_HeII1640...
Replacing zeros with NaN in column FWHM_HeII1640...
Replacing zeros with NaN in column FWHM_ERR_HeII1640...
Replacing zeros with NaN in column SNR_HeII1640...
Replacing zeros with NaN in column CONT_HeII1640...
Replacing zeros with NaN in column CONT_ERR_HeII1640...
Replacing zeros with NaN in column SLOPE_HeII1640...
Replacing zeros with NaN in column SLOPE_ERR_HeII1640...
Replacing zeros with NaN in column RCHSQ_HeII1640...
Replacing zeros with NaN in column FLUX_NIII1750...
Replacing zeros with NaN in column FLUX_ERR_NIII1750...
Replacing zeros with NaN in column LPEAK_NIII1750...
Replacing zeros with NaN in column LPEAK_ERR_NIII1750...
Replacing zeros with NaN in column FWHM_NIII1750...
Replacing zeros with NaN in column FWHM_ERR_NIII1750...
Replacing zeros with NaN in column SNR_NIII1750...
Replacing zeros with NaN in column CONT_NIII1750...
Replacing zeros with NaN in column CONT_ERR_NIII1750...
Replacing zeros with NaN in column SLOPE_NIII1750...
Replacing zeros with NaN in column SLOPE_ERR_NIII1750...
Replacing zeros with NaN in column RCHSQ_NIII1750...
Replacing zeros with NaN in column FLAG_NIII1750...
Replacing zeros with NaN in column FLUX_NIV1483...
Replacing zeros with NaN in column FLUX_ERR_NIV1483...
Replacing zeros with NaN in column LPEAK_NIV1483...
Replacing zeros with NaN in column LPEAK_ERR_NIV1483...
Replacing zeros with NaN in column FWHM_NIV1483...
Replacing zeros with NaN in column FWHM_ERR_NIV1483...
Replacing zeros with NaN in column SNR_NIV1483...
Replacing zeros with NaN in column CONT_NIV1483...
Replacing zeros with NaN in column CONT_ERR_NIV1483...
Replacing zeros with NaN in column SLOPE_NIV1483...
Replacing zeros with NaN in column SLOPE_ERR_NIV1483...
Replacing zeros with NaN in column RCHSQ_NIV1483...
Replacing zeros with NaN in column FLUX_NIV1487...
Replacing zeros with NaN in column FLUX_ERR_NIV1487...
Replacing zeros with NaN in column LPEAK_NIV1487...
Replacing zeros with NaN in column LPEAK_ERR_NIV1487...
Replacing zeros with NaN in column FWHM_NIV1487...
Replacing zeros with NaN in column FWHM_ERR_NIV1487...
Replacing zeros with NaN in column SNR_NIV1487...
Replacing zeros with NaN in column CONT_NIV1487...
Replacing zeros with NaN in column CONT_ERR_NIV1487...
Replacing zeros with NaN in column SLOPE_NIV1487...
Replacing zeros with NaN in column SLOPE_ERR_NIV1487...
Replacing zeros with NaN in column RCHSQ_NIV1487...
Replacing zeros with NaN in column FLUX_NV1238...
Replacing zeros with NaN in column FLUX_ERR_NV1238...
Replacing zeros with NaN in column LPEAK_NV1238...
Replacing zeros with NaN in column LPEAK_ERR_NV1238...
Replacing zeros with NaN in column FWHM_NV1238...
Replacing zeros with NaN in column FWHM_ERR_NV1238...
Replacing zeros with NaN in column SNR_NV1238...
Replacing zeros with NaN in column CONT_NV1238...
Replacing zeros with NaN in column CONT_ERR_NV1238...
Replacing zeros with NaN in column SLOPE_NV1238...
Replacing zeros with NaN in column SLOPE_ERR_NV1238...
Replacing zeros with NaN in column RCHSQ_NV1238...
Replacing zeros with NaN in column FLUX_NV1243...
Replacing zeros with NaN in column FLUX_ERR_NV1243...
Replacing zeros with NaN in column LPEAK_NV1243...
Replacing zeros with NaN in column LPEAK_ERR_NV1243...
Replacing zeros with NaN in column FWHM_NV1243...
Replacing zeros with NaN in column FWHM_ERR_NV1243...
Replacing zeros with NaN in column SNR_NV1243...
Replacing zeros with NaN in column CONT_NV1243...
Replacing zeros with NaN in column CONT_ERR_NV1243...
Replacing zeros with NaN in column SLOPE_NV1243...
Replacing zeros with NaN in column SLOPE_ERR_NV1243...
Replacing zeros with NaN in column RCHSQ_NV1243...
Replacing zeros with NaN in column FLUX_OI1302...
Replacing zeros with NaN in column FLUX_ERR_OI1302...
Replacing zeros with NaN in column LPEAK_OI1302...
Replacing zeros with NaN in column LPEAK_ERR_OI1302...
Replacing zeros with NaN in column FWHM_OI1302...
Replacing zeros with NaN in column FWHM_ERR_OI1302...
Replacing zeros with NaN in column SNR_OI1302...
Replacing zeros with NaN in column CONT_OI1302...
Replacing zeros with NaN in column CONT_ERR_OI1302...
Replacing zeros with NaN in column SLOPE_OI1302...
Replacing zeros with NaN in column SLOPE_ERR_OI1302...
Replacing zeros with NaN in column RCHSQ_OI1302...
Replacing zeros with NaN in column FLUX_OIII1660...
Replacing zeros with NaN in column FLUX_ERR_OIII1660...
Replacing zeros with NaN in column LPEAK_OIII1660...
Replacing zeros with NaN in column LPEAK_ERR_OIII1660...
Replacing zeros with NaN in column FWHM_OIII1660...
Replacing zeros with NaN in column FWHM_ERR_OIII1660...
Replacing zeros with NaN in column SNR_OIII1660...
Replacing zeros with NaN in column CONT_OIII1660...
Replacing zeros with NaN in column CONT_ERR_OIII1660...
Replacing zeros with NaN in column SLOPE_OIII1660...
Replacing zeros with NaN in column SLOPE_ERR_OIII1660...
Replacing zeros with NaN in column RCHSQ_OIII1660...
Replacing zeros with NaN in column FLUX_OIII1666...
Replacing zeros with NaN in column FLUX_ERR_OIII1666...
Replacing zeros with NaN in column LPEAK_OIII1666...
Replacing zeros with NaN in column LPEAK_ERR_OIII1666...
Replacing zeros with NaN in column FWHM_OIII1666...
Replacing zeros with NaN in column FWHM_ERR_OIII1666...
Replacing zeros with NaN in column SNR_OIII1666...
Replacing zeros with NaN in column CONT_OIII1666...
Replacing zeros with NaN in column CONT_ERR_OIII1666...
Replacing zeros with NaN in column SLOPE_OIII1666...
Replacing zeros with NaN in column SLOPE_ERR_OIII1666...
Replacing zeros with NaN in column RCHSQ_OIII1666...
Replacing zeros with NaN in column FLUX_OVI1032...
Replacing zeros with NaN in column FLUX_ERR_OVI1032...
Replacing zeros with NaN in column LPEAK_OVI1032...
Replacing zeros with NaN in column LPEAK_ERR_OVI1032...
Replacing zeros with NaN in column FWHM_OVI1032...
Replacing zeros with NaN in column FWHM_ERR_OVI1032...
Replacing zeros with NaN in column SNR_OVI1032...
Replacing zeros with NaN in column CONT_OVI1032...
Replacing zeros with NaN in column CONT_ERR_OVI1032...
Replacing zeros with NaN in column SLOPE_OVI1032...
Replacing zeros with NaN in column SLOPE_ERR_OVI1032...
Replacing zeros with NaN in column RCHSQ_OVI1032...
Replacing zeros with NaN in column FLUX_OVI1038...
Replacing zeros with NaN in column FLUX_ERR_OVI1038...
Replacing zeros with NaN in column LPEAK_OVI1038...
Replacing zeros with NaN in column LPEAK_ERR_OVI1038...
Replacing zeros with NaN in column FWHM_OVI1038...
Replacing zeros with NaN in column FWHM_ERR_OVI1038...
Replacing zeros with NaN in column SNR_OVI1038...
Replacing zeros with NaN in column CONT_OVI1038...
Replacing zeros with NaN in column CONT_ERR_OVI1038...
Replacing zeros with NaN in column SLOPE_OVI1038...
Replacing zeros with NaN in column SLOPE_ERR_OVI1038...
Replacing zeros with NaN in column RCHSQ_OVI1038...
Replacing zeros with NaN in column FLUX_SiII1260...
Replacing zeros with NaN in column FLUX_ERR_SiII1260...
Replacing zeros with NaN in column LPEAK_SiII1260...
Replacing zeros with NaN in column LPEAK_ERR_SiII1260...
Replacing zeros with NaN in column FWHM_SiII1260...
Replacing zeros with NaN in column FWHM_ERR_SiII1260...
Replacing zeros with NaN in column SNR_SiII1260...
Replacing zeros with NaN in column CONT_SiII1260...
Replacing zeros with NaN in column CONT_ERR_SiII1260...
Replacing zeros with NaN in column SLOPE_SiII1260...
Replacing zeros with NaN in column SLOPE_ERR_SiII1260...
Replacing zeros with NaN in column RCHSQ_SiII1260...
Replacing zeros with NaN in column FLUX_SiII1304...
Replacing zeros with NaN in column FLUX_ERR_SiII1304...
Replacing zeros with NaN in column LPEAK_SiII1304...
Replacing zeros with NaN in column LPEAK_ERR_SiII1304...
Replacing zeros with NaN in column FWHM_SiII1304...
Replacing zeros with NaN in column FWHM_ERR_SiII1304...
Replacing zeros with NaN in column SNR_SiII1304...
Replacing zeros with NaN in column CONT_SiII1304...
Replacing zeros with NaN in column CONT_ERR_SiII1304...
Replacing zeros with NaN in column SLOPE_SiII1304...
Replacing zeros with NaN in column SLOPE_ERR_SiII1304...
Replacing zeros with NaN in column RCHSQ_SiII1304...
Replacing zeros with NaN in column FLUX_SiIII1883...
Replacing zeros with NaN in column FLUX_ERR_SiIII1883...
Replacing zeros with NaN in column LPEAK_SiIII1883...
Replacing zeros with NaN in column LPEAK_ERR_SiIII1883...
Replacing zeros with NaN in column FWHM_SiIII1883...
Replacing zeros with NaN in column FWHM_ERR_SiIII1883...
Replacing zeros with NaN in column SNR_SiIII1883...
Replacing zeros with NaN in column CONT_SiIII1883...
Replacing zeros with NaN in column CONT_ERR_SiIII1883...
Replacing zeros with NaN in column SLOPE_SiIII1883...
Replacing zeros with NaN in column SLOPE_ERR_SiIII1883...
Replacing zeros with NaN in column RCHSQ_SiIII1883...

In [ ]:
import astropy.units as u
from astropy.coordinates import SkyCoord

# Load FWHM table
fwhmtb = ascii.read('../muse_data/muse_fwhms.txt')

#CLEANING OF TABLE
# Remove rows with no significant Lyman alpha
megatab = megatab[(megatab['SNRR'] > 3.0) + (megatab['SNRB'] > 3.0)]
# Remove rows with large FWHM uncertainties (inspected visually, all due to conamination)
megatab = megatab[(megatab['FWHMR_ERR'] < 5.0) * (megatab['FWHMR'] < 20.0)]

# Check for rows with overlapping apertures (effectively duplicates)
megatab.sort(keys='SNRR', reverse=True)
# Now wort by the total combined SNR of all absorption lines
megatab['ABS_SNR'] = np.array([
    np.sqrt(
        np.nansum(
            np.array([np.nanmin([row[f"SNR_{line}"], 0])**2 for line in good_lines])
        )
    ) for row in megatab
])
# Some SNRs my be extremely high due to fitting issues, so set any above 1000 to zero and any above 100 to 100
megatab['ABS_SNR'][megatab['ABS_SNR'] > 1000] = 0
megatab['ABS_SNR'][megatab['ABS_SNR'] > 100] = 100
megatab.sort(keys='ABS_SNR', reverse=True)

repeat = np.zeros(len(megatab))

for i, row in enumerate(megatab[:-1]):
    fwhm = fwhmtb[fwhmtb.field('CLUSTER') == row['CLUSTER']]['PSF_FWHM'][0]
    c1 = SkyCoord(row['RA'], row['DEC'], unit='deg')
    zlya1 = row['LPEAKR'] / 1215.67 - 1.
    if zlya1 == np.nan:
        zlya1 = row['LPEAKB'] / 1215.67 - 1.
    for j, othrow in enumerate(megatab[i+1:]):
        if othrow['CLUSTER'].strip('SNE') != row['CLUSTER'].strip('SNE'):
            continue
        c2 = SkyCoord(othrow['RA'], othrow['DEC'], unit='deg')
        zlya2 = othrow['LPEAKR'] / 1215.67 - 1.
        if zlya2 == np.nan:
            zlya2 = othrow['LPEAKB'] / 1215.67 - 1.
        if 'fwhm' in SPEC_TYPE:
            nfwhm = int(SPEC_TYPE[0])
            if c1.separation(c2).to(u.arcsec).value < nfwhm * fwhm and np.abs(zlya1 - zlya2) < 0.05:
                print(f'Gotcha! In {row["CLUSTER"]}, {othrow["iden"]} is a copy of {row["iden"]}')
                print(f"Separated by {c1.separation(c2).to(u.arcsec).value:.2f} arcsec"
                      f" with dz = {np.abs(zlya1 - zlya2):.4f}.")
                print(f"ABS_SNR of {row['ABS_SNR']:.2f} for {row['iden']} and {othrow['ABS_SNR']:.2f} for {othrow['iden']}\n")
                if row['ABS_SNR'] < 5 and othrow['ABS_SNR'] >= 5:
                    print(f"WARNING! GETTING RID OF AN ABSORBER!")
                repeat[i+j+1] = 1
                
print(f"Filtered megatab contains {len(megatab)} sources.")

/home/james/.local/lib/python3.9/site-packages/numpy/lib/nanfunctions.py:96: UserWarning: Warning: converting a masked element to nan.
  a = np.asanyarray(a)

Gotcha! In MACS0416NE, P6907 is a copy of P1255
Separated by 0.02 arcsec with dz = 0.0002.
ABS_SNR of 6.02 for P1255 and 5.64 for P6907
Gotcha! In MACS0416S, P5175 is a copy of P5278
Separated by 0.51 arcsec with dz = 0.0000.
ABS_SNR of 4.03 for P5278 and 3.64 for P5175
Gotcha! In MACS0416S, P5061 is a copy of P5114
Separated by 0.23 arcsec with dz = 0.0000.
ABS_SNR of 3.47 for P5114 and 3.42 for P5061
Filtered megatab contains 954 sources.

In [30]:
megatab['ABS_SNR'].mean()

4.904833456414233e+17

In [ ]:
# Some final cleaning of columns
remove_cols = ['ABS_SNR', 'zbalmer', 'zbalmer_err']
for col in remove_cols:
    if col in megatab.colnames:
        megatab.remove_column(name=col)
megatab['MUL'] = megatab['MUL'].astype(str)
megatab[~repeat.astype(bool)].write(f'./megatables/lae_megatab_{SPEC_TYPE}.fits', overwrite=True)